:root {
    --colordegradado1:#A948F6;
    --colordegradado2:#5315C5;
    --colordegradado3: #0080C2;
    --colorprincipal:#29235C;
    --colorsecundario:#d63bd6;
    --colorterciario: #000035;
    --colorheader: #fafeff;
    --colorslides: #359ED6;
    --colorslides1: #359ED650;
    --colorslides2: #5d7dff50;
    --colorslides3: #9334ff50;
}


* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}




/*----------------------------HEADER---------------------------------*/

header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 3;
}

.contenedor-header {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15em;
    transition: all 200ms;
}

.navbar-color {
    background-color: var(--colorheader);
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.5);
}

#selected {
    background: var(--colorprincipal);
    padding: 18px 40px;
    border-radius: 50px;
    color: #ffff;
}


.contenedor-header .logo-header {
    padding-top: 5px;
    width: 14%;
    opacity: 0;

}

.contenedor-header .logo-header img {
    width: 100%;
    vertical-align: top;
}

.contenedor-header .menu {
    display: flex;
    align-items: center;
}

.contenedor-header .menu ul {
    display: flex;
}

.contenedor-header .menu ul li {
    list-style: none;
    margin-left: 36px;
}

.contenedor-header .menu ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--colorprincipal);
    text-transform: uppercase;
}

.contenedor-header .menu ul li a:hover {
    border-bottom: 4px solid var(--colorprincipal);

}

.main-cover {
    height: 1100px;
    background: url('../img/bg-header.jpg')  padding-box,
    linear-gradient(-135deg, var(--colordegradado1),var(--colordegradado2),var(--colordegradado3)) border-box;
    background-size: cover;
    border-bottom-left-radius: 18%;
    border-bottom-right-radius: 18%;
    border-bottom: 20px solid transparent;
    z-index: 1;
    position: relative;

}


.contenedor-cover {
    width: 100%;
    height: 1000px;
    background-size: cover;
}


.cover {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor-cover .svg {
    position: relative;
    display: flex;
}

.contenedor-cover .svg .Logo {
    width: 800px;
    animation: move-vector 4s linear infinite;
    display: block;
    margin: auto;
}

.contenedor-cover .svg .Logo2 {
    position: absolute;
    margin-left: 20px;
    width: 1600px;
    margin: auto;
    margin-top: -350px;
    margin-left: -450px;
    animation: move-vector2 4s linear infinite;
}


@keyframes move-vector {

    0% {
        transform: translateY(50px) translateX(-50px);
    }

    50% {
        transform: translateY(0px) translateX(0px);
    }

    100% {
        transform: translateY(50px) translateX(-50px);
    }

}

@keyframes move-vector2 {
    0% {
        transform: translateX(50px) translatey(50px);
    }

    50% {
        transform: translateX(0px) translatey(0px);
    }

    100% {
        transform: translateX(50px) translatey(50px);
    }

}



/*------------------------QUIENES SOMOS--------------------------------------*/
.quienes-somos {

    z-index: 0;
    margin-top: -10%;
    background: url('../img/bg-quienes-somos.jpg') var(--colorterciario);
    background-size: cover;
    width: 100%;
    display: flex;

}

.quienes-somos .contenedor-imagen {
    width: 30%;
    z-index: 1;
}

.quienes-somos .contenedor-imagen .img {
    vertical-align: top;
    width: 100%;
}


/*----------------------------------------------SLIDES QUIENES SOMOS-------------------------------------------------------------------------------------------------*/
.quienes-somos .contenedor-texto {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 15% 10%;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider__slides {
    position: relative;
    width: 450%;
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
    will-change: transform;
}

.slider[data-pos="0"] .slider__slides {
    transform: translateX(0%);
}

.slider[data-pos="1"] .slider__slides {
    transform: translateX(-25%);
}

.slider[data-pos="2"] .slider__slides {
    transform: translateX(-50%);
}

.slider[data-pos="3"] .slider__slides {
    transform: translateX(-75%);
}

.slider__slide {
    float: left;
    width: 25%;
    height: 100%;
}

.slider__dots {
    display: flex;
    position: absolute;
    bottom: 6em;
    left: 45%;
    transform: translateX(-50%);
}

.slider__dot,
.slider__indicator {
    display: block;
    margin: 0 0.5em;
    width: 1em;
    height: 1em;
    background: var(--colorslides1);
    border-radius: 100px;
}

.slider__dot:nth-child(2),
.slider__indicator:nth-child(2) {
    background: var(--colorslides2);
}

.slider__dot:nth-child(3),
.slider__indicator:nth-child(3) {
    background: var(--colorslides3);
}

.slider__dot:last-child,
.slider__indicator:last-child {
    opacity: 0;
}

.slider__indicator {
    position: absolute;
    background: linear-gradient(60deg, rgb(40, 15, 173), rgb(29, 112, 183), rgb(47, 234, 206), rgb(70, 147, 253), rgb(155, 52, 255), rgb(15, 7, 117));
    width: auto;
}

.slider__indicator--left {
    transition: left 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.slider__indicator--right {
    transition: left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.slider[data-pos="0"] .slider__indicator {
    left: 0em;
    right: 6em;
}

.slider[data-pos="1"] .slider__indicator {
    left: 2em;
    right: 4em;
}

.slider[data-pos="2"] .slider__indicator {
    left: 4em;
    right: 2em;
}

.slider[data-pos="3"] .slider__indicator {
    left: 6em;
    right: 0em;
}

.o-content-text {
    padding-top: 3vw;
}

.slide_tittle {
    font-size: 20px;
    width: 35%;
    color: var(--colorterciario);
    background-color: var(--colorslides);
    padding: 1vh 8vh 1vh 2vh;
    margin-bottom: 2vh;
    border-radius: 2vh 1vh 10vh 2vh;

}

.slide_text {
    font-size: 28px;
    width: 80%;
    padding: 2vh 8vh 8vh 8vh;
    color: var(--colorheader);
}

.slide_text .slogan {
    text-align: right;
    font-size: 32px;
}

.slide_text .slogan span {
    color: var(--colorslides);
    font-weight: bold;
    font-style: italic;
}

.slide_text ul {
    margin-top: 3vh;
    column-count: 2;
}

.slide_text ul li {
    color: var(--colorslides);
}

.slide_text ul li p {
    color: var(--colorheader);
}

/*-----------------------------Banner-Servicios------------------------------------*/

.banner-servicios {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 900px;
    margin-top: -16.6%;
    background: url('../img/bg-services.jpg')   padding-box,
    linear-gradient(-135deg, var(--colordegradado1),var(--colordegradado2),var(--colordegradado3)) border-box;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 18%;
    border-top-right-radius: 18%;
    border-top: 20px solid transparent;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom: 20px solid transparent;
    display: flex;
    justify-content: right;
    align-items: center;

}


/*---------------------------------Slider Servicios------------------------------*/

.banner-servicios .contenedor-slides-servicios {
    width: 50%;
}

.sliderServices {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;


}

.slider__slidesServices {
    position: relative;
    width: 450%;
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
    will-change: transform;
}

.slider__dotsServices {
    display: flex;
    position: absolute;
    bottom: 6em;
    left: 45%;
    transform: translateX(-50%);
}


.slider__dotServices:nth-child(2),
.slider__indicatorServices:nth-child(2) {
    background: var(--colorslides2);
}

.slider__dotServices:last-child,
.slider__indicatorServices:last-child {
    opacity: 0;
}

.sliderServices[data-pos="0"] .slider__slides {
    transform: translateX(0%);
}

.sliderServices[data-pos="1"] .slider__slides {
    transform: translateX(-25%);
}


.sliderServices p {
    font-size: 70px;
}

.sliderServices span {
    color: var(--colorslides);
    font-weight: bold;
    font-style: italic;
}

.slide_image {
    width: 50%;
    padding-left: 5em;
}

.slide_image img {
    vertical-align: top;
    width: 100%;
}


/*----------------------------------Whatsapp Servicios----------------------------*/
.whatsapp-servicios{
    margin-top: 2em;
    width: 80%;
    overflow: hidden;
}

.contenedor-whatsapp-servicios{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: var(--colorheader);
    display: flex;
    justify-content: right;
    align-items: center;
}

.contenedor-whatsapp-servicios:hover >.whatsapp-logo-servicios{
    width: 18%;
    
}

.whatsapp-logo-servicios{
    width: 15%;
    position: relative;
}


.whatsapp-logo-servicios img {
    vertical-align: top;
    width: 100%;
}

.contenedor-whatsapp-servicios p {
    padding: 1.5vh 5vw;
    margin-right: 2vw;
    border-radius: 50px;
    background: linear-gradient(to right, #00A54C, #6BB75F ) ;
}

/*---------------------------------Servicios--------------------------------------*/
.servicios {
    z-index: 0;
    margin-top: -4%;
    background: url('../img/bg-header1.jpg')  padding-box,
    linear-gradient(-135deg, var(--colordegradado1),var(--colordegradado2),var(--colordegradado3)) border-box;
    background-size: cover;
    width: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom: 20px solid transparent;


}


.contenedor-servicios {
    display: flex;
    width: 100%;
    position: relative;
}

.contenedor-servicios:after {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border-bottom: .5vh solid;
    border-image-source: linear-gradient(45deg, rgb(40, 15, 173), rgb(29, 112, 183), rgb(47, 234, 206), rgb(70, 147, 253), rgb(155, 52, 255), rgb(15, 7, 117));
    border-image-slice: 1;
}

.contenedor-servicios:last-child::after {
    border: none;
}

.contenedor-servicios .servicio {
    width: 50%;
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: start;
    font-size: 32px;
    flex-direction: column;
    text-align: start;
}

.contenedor-servicios .servicio h3 {
    color: var(--colorheader);
    padding: 1vh 8vh 1vh 2vh;
    margin-bottom: 2vh;
    border-radius: 2vh 1vh 10vh 2vh;
    background: linear-gradient(var(--colorterciario),var(--colorterciario)) padding-box,
    linear-gradient(45deg, var(--colordegradado1),var(--colordegradado2),var(--colordegradado3)) border-box;
    border-top: 3px solid transparent;
}

.contenedor-servicios .imagen-servicio {
    width: 50%;
}

.contenedor-servicios .imagen-servicio img {
    width: 100%;
    vertical-align: top;
}